<!-- Footer -->
<footer class="bg-[#5e6654] text-[#f0ddc3] p-10 mt-16">
    <div class="flex justify-between flex-wrap text-sm">
        <div>
            <div class="font-bold mb-2">RR</div>
        </div>
        <div>
            <p class="font-semibold mb-1">About</p>
            <ul>
                <li>Our team</li>
                <li>Goal</li>
                <li>Careers</li>
                <li>Blog</li>
            </ul>
        </div>
        <div>
            <p class="font-semibold mb-1">Contact us</p>
            <ul>
                <li>+91 6204850926</li>
                <li>user@roam-route.com</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="text-xs">&copy; All rights reserved</div>
    </div>
</footer>